{% extends 'base.html.twig' %}

{% block title %}Lecteur Audio{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" type="text/css" href="{{asset('styles/css/audio.css')}}">
{% endblock %}
{% block body %}

<section class="audioLecteur">
  <div class="audioLecteur_frame">
    <h1>Music Your Life ~ Lecteur Audio</h1>

    <audio controls="controls" id="audioPlayer">
      <source src="{{asset('music/daft-punk-harder-better-faster-stronger.mp3')}}">
    </audio>
  </div>
</section>
{% endblock %}
