{% extends 'base.html.twig' %}

{% block title %}Lecteur Vidéo{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" type="text/css" href="{{asset('styles/css/video.css')}}">
{% endblock %}

{% block body %}

<section class="videoLecteur">
  <div class="videoLecteur_frame">
    <h1>Music Your Life ~ Lecteur Vidéo</h1>
    <div class="videoPlayer_frame">
      <video class="videoPlayer" id="videoPlayer" ontimeupdate="update(this)">
        <source src="{{asset('video/oscar.mp4')}}">
        <source src="{{asset('video/oscar.webm')}}">
      </video>
      <div id="progressBarControl">
        <div id="progressBar">
        </div>
      </div>
    </div>
    <div class="videoToolbar">
      <button class="videoControl" onclick="play('videoPlayer', this)">Play</button>
      <button class="videoControl" onclick="resume('videoPlayer', this)">Stop</button>

      <span class="videoVolume">
        <a class="stick1" onclick="volume('videoPlayer', 0)"></a>
        <a class="stick2" onclick="volume('videoPlayer', 0.3)"></a>
        <a class="stick3" onclick="volume('videoPlayer', 0.5)"></a>
        <a class="stick4" onclick="volume('videoPlayer', 0.7)"></a>
        <a class="stick5" onclick="volume('videoPlayer', 1)"></a>
      </span>
    </div>
  </div>
</section>
{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="{{asset('js/video.js')}}"></script>
{% endblock %}
