{% extends 'baseAdmin.html.twig' %}

{% block title %}Portail Administrateur{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" type="text/css" href="{{asset('styles/css/menuAdmin.css')}}">
{% endblock %}

{% block body %}

<section class="espaceVideo">
    <h2>Espace Vidéo</h2>

    <figure>
      <img src="{{asset('img/babyTux.png')}}" alt="BabyTux" class="babyTux"/>
    </figure>
</section>
{% endblock %}
