{% extends 'baseAdmin.html.twig' %}

{% block title %}Portail Administrateur{% endblock %}

{% block body %}

<div class="accueilAdmin">
    <h2>Action accomplie !!</h2>

    <figure>
      <img class="giftTux" src="{{asset('img/giftTux.png')}}" alt="Tux derrière les platines"/>
    </figure>
</div>
{% endblock %}
