@import 'colors';
@import 'mep';

.audioLecteur {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .audioLecteur_frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: 10em auto;
    padding-bottom: 3em;
    background-color: $dark;
    border-radius: 1em;
  }
}
