
$orange: #e3972b;

$red: #eb0201;

/* bleus */
$lblue: #e6f6ff;
$fblue: DeepSkyBlue;
$lfblue: lightSkyBlue;
/* verts */
$lgreen: #6df9cd;
$mgreen: #4caf91;
$dgreen: #0c4734;
$lfgreen: aquamarine;
$fgreen: mediumSpringGreen;
/* gris */
$dgrey: #36393f;
$lgrey: #e3e5ea;
$dark: #202225;
