@import 'colors';
@import 'buttons';
@import 'mep';


.espaceMusique, .espaceUser, .espaceVideo, .espaceArtists {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
