@import 'colors';
@import 'mep';
@import 'buttons';

.videoLecteur {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .videoLecteur_frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: 8em auto;
    padding-bottom: 5em;
    background-color: $dark;
    border-radius: 1em;

    .videoPlayer {
      width: 75%;
    }

    .videoToolbar {
      margin: 1em auto;
      .videoControl {
        @include btn_flashGreen;
      }
      .videoControl:hover {
        @include btn_flashGreen_hover;
      }

      .videoVolume {
        vertical-align: bottom;
        display: inline-block;
        height: 25px;
        white-space: nowrap;
        position: relative;
        width: 45px;
      }
      .videoVolume a {
        display: inline-block;
        background: $fgreen;
        width: 8px;
        vertical-align: bottom;
        margin-left: 0px;
        margin-right: 0px;
        cursor: pointer;
        border-left:1px solid "fff";
        position: absolute;
        bottom: 0;
      }

      .stick1 {
        height: 5px;
        left: 0px;
      }
      .stick2 {
        height: 10px;
        left: 9px;
      }
      .stick3 {
        height: 15px;
        left: 18px;
      }
      .stick4 {
        height: 20px;
        left: 27px;
      }
      .stick5 {
        height: 25px;
        left: 36px;
      }
    }
  }
}
